{% extends "base.html" %}

{%block title%}Edit a Tag{% endblock %}

{%block content%}
    <h1>Edit a Tag</h1>
    <form method="post">
        <label for="name">Name</label>
        <br>
        <input type="text" id="name" name="name" placeholder="{{tag.name}}">
        <br>
        <button class="btn btn-primary btn-sm"
                formaction="/tags/{{tag.id}}"
                formmethod="GET">Cancel
        </button>
        <button class="btn btn-danger btn-sm"
                formaction="/tags/{{tag.id}}/edit"
                formmethod="POST">Edit
        </button>
    </form>
{%endblock%}